# Ignore node_modules directory
node_modules/

# Ignore npm debug log
npm-debug.log

# Ignore environment or local configuration file
.env

# Ignore build output
dist/

# Ignore automatically downloaded dependency files
*.tgz
